<div class=" h-screen flex flex-col justify-center items-center overflow-hidden">

    <div class="w-full flex items-center justify-center overflow-hidden">
        <!-- Column Content -->
        <div class="flex justify-center flex-col items-center">
            <div class="text-center text-7xl font-bold  text-[#0179BC]">
                Easy Jobs
            </div>

            <div class="pt-2">
                We make your career sucessfull!
            </div>
        </div>


    </div>

    <div class="mt-2 h-[100px]">

    </div>


    <button button_text="Login As User" type='filled' (onClickButtonHandler)="onClickLoginAsUser()" ></button>

    <div class="mt-6">

    </div>

    <button button_text="Login As Company" (onClickButtonHandler)="onClickLoginAsCompnay()" type='outlined'></button>



</div>