<div class="p-10 ">
    <div class="flex justify-between items-center">
        <div class="text-4xl font-bold    ">
            Dashboard
        </div>
 

        <div class="bg-blue-600 p-3 text-white rounded-md hover:shadow-lg">
            Profile
        </div>
    </div>


    <div class="h-8">

    </div>

    <div class="text-xl font-semibold ">
        Jobs
    </div>

    <div class="h-8">

    </div>

    <div class="shadow-md rounded-md h-32 w-[360px] border-[1px] p-4">
        <div class="text-2xl font-bold">
            Software Engineer
        </div>

        <div class="pt-1 text-sm h-6 overflow-hidden whitespace-nowrap overflow-ellipsis">
            lorum ipsum    lorum ipsum    lorum ipsum   lorum ipsum   lorum ipsum    lorum ipsum    lorum ipsum    lorum ipsum    lorum ipsum
        </div>

        <div>
            Date Added : 2021/02./21
        </div>
    </div>
</div>